# Python
__pycache__/
*.py[cod]
.venv/
.env/
.env
*.egg-info/

# Local config
mask_config.yaml

# Data
data/
FUSS/
ssdata/
*.wav

# Outputs
output/
outputs/
marine_tuning_outputs/
masks/
masks_plots/
*.npy
*.png

# Models / trained artifacts
*.pt
*.pth
*.pkl

# OS / IDE
.DS_Store
.vscode/
.idea/

# Poetry local virtual environment, if created inside project
.venv/