/mask/mask_test.ipynb
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/

parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.venv
venv/
ENV/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
.gitignore
.ipynb_checkpoints
mask/__pycache__/
